body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0px;
    overflow-y: hidden;
  }
  
  #imagen-contenedor {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .imagen-principal {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #contenido {
    margin: 100px 1350px 100px 40px;
  }
  
  #contenido .titulo {
    font-size: 34px; /* Tamaño de fuente del título */
    color:#af4042; /* Color del título */
    font-weight: bold;
  }
  
  #contenido .descripcion {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px; /* Tamaño de fuente del contenido */
    color: hwb(0 6% 93% / 0.788); /* Color del contenido */
    font-weight: bold;
    font-style: italic;
    
  }

  .boton-siguiente {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
  }
  
  .boton-siguiente:hover {
    background-color: #0056b3;
  }
  
  .boton-volver {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .boton-volver:hover {
    background-color: #0056b3;
  }
  
  
  footer {
    color: hwb(0 100% 0%);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }
  
  footer p {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    pointer-events: none;
    /* Evita el desplazamiento del cursor */
  }