body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 0px;
    overflow-y: hidden;
    background-image: url(../../imagenes/imagenes-Analisis-Datos/Python-para-Data-Science-y-Big-Data-esencial.jpeg);
  
  }
  
  #imagen-contenedor {
    width: 50%;
    height: 100%;
    float: right;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .imagen-principal {
    width: 100%;
    height: 100%;
  }

  #contenido {
    margin: 100px 100px 100px 10px;
  }
  
  #contenido .titulo {
    font-size: 34px; /* Tamaño de fuente del título */
    color:#ffffff; /* Color del título */
    font-weight: bold;
  }
  
  #contenido .descripcion {
    margin: 20px 10px 10px 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px; /* Tamaño de fuente del contenido */
    color: #ffffff;/* Color del contenido */
    font-weight: bold;
    font-style: italic; 
  }

  /* Enlaces "aquí" */
  a {
    font-size: 16px; /* Tamaño de fuente del título */ 
    color: rgb(73, 245, 110);
    font-weight: bold;
    text-decoration: none;
  }

  .boton-siguiente {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
  }
  
  .boton-siguiente:hover {
    background-color: #0056b3;
  }
  
  .boton-volver {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .boton-volver:hover {
    background-color: #007bff;

  }

  footer {
    color: #007bff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }
  
  footer p {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    pointer-events: none;
    /* Evita el desplazamiento del cursor */
  }